@model WatchMNS.ViewModel.AdminPanelViewModel

<h1 class="text-light text-center mb-4">Panneau d'administration</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-12 custom-border-5 p-4 sidebar">
            <nav class="nav flex-column text-center">
                <a class="btn btn-dark border-2 custom-border mb-3" asp-controller="ManageAccount" asp-action="EditUser">Gestion des rôles</a>
                <a class="btn btn-dark border-2 custom-border mb-3" asp-controller="UserPanel" asp-action="AbsenceManager">Gestion d'absence / retard</a>
                <a class="btn btn-dark border-2 custom-border mb-3" asp-controller="ManageAccount" asp-action="EditUser">Gestion de Document</a>
                <a class="btn btn-dark border-2 custom-border mb-3" asp-controller="ManageAccount" asp-action="EditUser">Gestion des formations</a>
                <a class="btn btn-dark border-2 custom-border mb-3" asp-controller="Admin" asp-action="CreateProfessionnalStatus">Gestion des status professionnel</a>
            </nav>
        </div>

        <div class="col-lg-10 col-md-9 col-12 custom-border-5 p-4">

            <div class="row mb-4">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <h2 class="text-light">Gestion des utilisateurs</h2>
                    <form class="d-flex" method="post">
                        <label asp-for="SortOrder" class="control-label text-light mt-3 me-2">Trier:</label>
                        <select class="form-select me-3 mb-1 bg-dark text-light custom-border" size="1" asp-for="@Model.SortOrder">
                            <option value="default">Noms croissants</option>
                            <option value="name_desc">Noms décroissants</option>
                            <option value="absence_desc">Nombre absences</option>
                            <option value="delay_desc">Nombre retards</option>
                        </select>
                        <input type="submit" value="Trier" class="btn btn-dark border-2 custom-border mt-1 mb-4 col-6 col-md-auto" />
                    </form>
                </div>
            </div>

            <div class="row">
                @foreach (var clientData in Model.ClientsData)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="card bg-dark text-light custom-border h-100">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <div>
                                    <h5 class="card-title text-capitalize">@clientData.Key.Lastname @clientData.Key.Firstname</h5>
                                    <p class="card-text">
                                        <span class="fw-bold">Absences:</span> @clientData.Value[0]<br>
                                        <span class="fw-bold">Retards:</span> @clientData.Value[1]
                                    </p>
                                </div>
                                <div class="mt-3">
                                    @Html.ActionLink("Éditer", "AdminEditUser", "Admin", new { id = clientData.Key.Id }, new { @class = "btn btn-light btn-sm mb-1" })
                                    @Html.ActionLink("Rôle", "ManageRole", "Admin", new { id = clientData.Key.Id }, new { @class = "btn btn-light btn-sm mb-1" })
                                    @Html.ActionLink("Documents", "Edit", "User", new { id = clientData.Key.Id }, new { @class = "btn btn-light btn-sm mb-1" })
                                    @Html.ActionLink("Absences", "AdminAbsenceManager", "Admin", new { id = clientData.Key.Id }, new { @class = "btn btn-light btn-sm mb-1" })
                                    @Html.ActionLink("Retards", "AdminDelayManager", "Admin", new { id = clientData.Key.Id }, new { @class = "btn btn-light btn-sm mb-1" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>




