@model WatchMNS.ViewModel.UserDocumentManagerViewModel
<div class="text-light">
    <h1>Bonjour @Model.User.Firstname</h1>
    <h3>Vous avez envoyé @Model.UserDocumentCount documents</h3>
</div>

<form asp-action="DocumentManager" asp-controller="User" class="text-light" method="post" enctype="multipart/form-data">
    <div class="row mt-2">
        <div class="col-12">
            <label class="col-form-label">Nom du fichier</label>
            <input asp-for="DocumentName" class="form-control" />
            <span asp-validation-for="DocumentName" class="text-danger"></span>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <label for="DocumentType" class="col-form-label">Type de fichier</label>
            <select name="DocumentType" id="DocumentType" class="form-select">
                @foreach (DocumentType type in Model.DocumentTypes)
                {
                    <option value='@type.Label'>@type.Label</option>
                }
            </select>
            <span asp-validation-for="DocumentType" class="text-danger"></span>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <label class="col-form-label">Séléctionner un ficher</label>
            <input asp-for="File" class="form-control" />
            <span asp-validation-for="File" class="text-danger"></span>
        </div>
    </div>


    <div class="row mt-2">
        <div class="col-12">
            <button type="submit" class="btn btn-dark custom-border mt-2">Upload File</button>
        </div>
    </div>
</form>

<div class="text-light custom-border-5 p-4 mt-4">
    @foreach (Document document in Model.Documents)
    {
        <div class="custom-border p-4 mb-4">
            <h2>Type de document : @document.DocumentType.Label</h2>
            <img class="col-sm-4 col-12" src="@Url.Content("~" + @document.Path)" />
        </div>
    }
</div>
