@using WatchMNS.Database
@model WatchMNS.ViewModel.DisplayUserViewModel

<div class="mt-5 mb-5 p-5 custom-border-5">
    <h1 class="text-light text-center mb-5 fw-bolder">Votre profil</h1>
    <div class="card mb-3 bg-black bg-opacity-50 custom-border-5 mx-auto mt-3 col-8">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/images/missing-pp.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title fw-bolder text-decoration-underline text-light">@Model.Lastname @Model.Firstname</h5>
                    <h6 class="card-title text-light">@Model.Email</h6>
                    <h6 class="card-title text-light">@Model.PhoneNumber</h6>
                    <h6 class="card-title text-light">@Model.Address</h6>
                    <h6 class="card-title text-light">@Model.City - @Model.PostCode</h6>
                    <a class="btn btn-warning mt-2" asp-controller="ManageAccount" asp-action="EditUser">Editer</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8 bg-black bg-opacity-50 mx-auto  mt-5 custom-border-5">
        <div class="row d-flex justify-content-evenly">
            <div class="mb-3 bg-transparent pt-4 col-4">
                <p class="text-light">Absence(s) : 0</p>
                <p class="text-light">Retard(s) : 0</p>
            </div>
            <div class="bg-transparent pt-4 col-4">
                <p class="text-light">% Jours Absent : 0%</p>
                <p class="text-light">% Jours Retard : 0%</p>
            </div>
        </div>
    </div>
    
</div>






